<template>
    <div>
        <div id="map" style="width: 100%; height: 700px;"></div>
    </div>
</template>

<script>

export default {
  name: "Stops",
  props: {
      stopRecords: Array
  },
  data() {
    return {
    }
  },
  mounted(){
      L.mapquest.key = 'r3BTR4SDceAoZ1qMkoSx4haqAPCG7P0I'

      let firstStop = this.stopRecords[0]

      // 'map' refers to a <div> element with the ID map
      let map = L.mapquest.map('map', {
        center: [+firstStop.record.lat, +firstStop.record.lon],
        layers: L.mapquest.tileLayer('map'),
        zoom: 9
      })

      let secondsToMinutes = function (miliseconds) {
          return (miliseconds/60).toFixed(2)
      }

        //secondsToMinutes(element.record.pauseTimeInSeconds)

      this.stopRecords.forEach(element => {
          console.log(element)
            L.mapquest.textMarker([+element.record.lat, +element.record.lon], {
            text: element.record.pauseTimeInSeconds > 0 ? secondsToMinutes(element.record.pauseTimeInSeconds) + ' minutes' : '',
            subtext: '',
            position: 'right',
            type: 'marker',
            icon: {
                primaryColor: element.record.pauseTimeInSeconds > 0 ? '#333333' : '#330330',
                secondaryColor: '#333333',
                size: 'sm'
            }
            }).addTo(map)
      })

  },
  computed: {
  }
}
</script>
