<template>
  <div class="hello">
    <h1>{{ msg }}</h1>
    <h2>Summary</h2>
    <div v-if="loading">
        <img src="../assets/fruits-pineapple.gif" alt=" loading..." >
    </div>
    <div v-if="!loading">
        <div>
            <strong>Start date: </strong>{{ startDate }}
        </div>
    </div>
    <h2>Details</h2>
    <div v-if="!loading">
        <div>
            <strong># Records: </strong>{{ recordsCount }}
        </div>
        <div>
            <strong>Average Speed : </strong>{{ averageSpeed }} k/h
        </div>
        <div style="text-align:left" v-if="false">
            <strong>Stops : </strong>{{ firstStop }}
            <ul>
               <li v-for="stop in orderedStops" v-bind:key="stop.record.id">
                 {{ stop.record.id }}.
                 {{ stop.address }},
                 Latitude: {{ stop.record.lat }},
                 Longitude: {{ stop.record.lon }},
                 Time: {{ new Date(stop.record.time).toLocaleDateString("es-co", { hour:"numeric", minute:"numeric" }) }}
                 <span v-if="stop.record.pauseTimeInSeconds > 0">
                   , Pause: {{ (stop.record.pauseTimeInSeconds/60).toFixed(2) }} minutes
                 </span>
               </li>
            </ul>
        </div>
        <div>
          Map
          <stops :stop-records='stops'></stops>
        </div>
    </div>
    <ul>
      <li>
        <a
          href="http://router.vuejs.org/"
          target="_blank"
        >
          Route
        </a>
      </li>
      <li>
        <a
          href="http://vuex.vuejs.org/"
          target="_blank"
        >
          Effort
        </a>
      </li>
      <li>
        <a
          href="http://vue-loader.vuejs.org/"
          target="_blank"
        >
          Places
        </a>
      </li>
    </ul>
  </div>
</template>

<script>

//https://developer.mapquest.com/user/me/apps

import Stops from './Stops.vue'

let gpxService = require('../services/GPXService')
let geocodingService = require('../services/GeocodingService')
let _ = require('lodash')

let activityId = 2

export default {
  name: "Summary",
  components: {
    Stops
  },
  data() {
    return {
      msg: "GPX Viewer",
      summary: null,
      detail: null,
      firstStopAddress: '',
      stops: [],
      loading: true
    }
  },
  mounted(){
      gpxService.getSummary(activityId).then( response => {
          this.summary = response.data
          this.loading = false
      }).catch(e => {
          console.log(e)
          this.loading = false
      })

      gpxService.getDetail(activityId).then( response => {
          this.detail = response.data
          gpxService.getStops(this.detail.stopRecords, stops => this.stops = stops)

      }).catch(e => {
          console.log(e)
      })
  },
  computed: {
    startDate() {
        if (this.summary) {
            return this.summary.startTime;
        }

        return 'N/A'
    },
    recordsCount() {
        if (this.detail && this.detail.recordsCount ) {
            return this.detail.recordsCount;
        }

        return 'N/A'
    },
    averageSpeed() {
        return this.detail ? this.detail.averageSpeed.toFixed(2) : 0
    },
    firstStop() {
        return this.firstStopAddress
    },
    orderedStops(){
        return _.orderBy(this.stops, "record.id")
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1,
h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
